.autoc-container {
    width: 150px;
}

.autoc-container input {    
    height: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 0px;
}

.autoc-dropdown {
    width: 100%;
    border: 1px solid;
    cursor: default;
}

.autoc-dropdown .item {
    padding: 5px 0px 5px 10px;
}

.autoc-dropdown .item:hover {
    background: #eaf2f4;
}